
li.nav-spacer {
    width: 1px;
    height: 20px;
}

.panel a,
.widget-stat a {
    color: #777;
}

.widget-stat a:hover {
    color: #222;
}

.widget-viewers {
    border-color: #6441A4;
}

.widget-viewers .panel {
    border-color: #6441A4;
}


.widget-viewers a:hover {
    color: #6441A4;
}

.widget-viewers .panel-primary {
    border-color: #6441A4;
}
.widget-viewers .panel-heading {
    background-color: #6441A4;
    border-color: #6441A4;
}

.list-group-item img {
    padding-right: 5px;
    vertical-align: top;
    top: 12px;
    position: absolute;
}
.list-group-item .block {
   left: 24px;
    width: 97%;
    position: relative;
}

.mini-actions a {
    padding-left: 10px;
}