body 
{
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: hidden;
}

div#jira-task-widget
{
    border-radius: 25px;
    background-color: rgba(0,0,0,0.25);
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    font-family: Oswald;
    position: absolute;
    left: 200px;
    top: 200px;
}

div#widget-title
{
    font-size: 45px;
}

div#jira-task-widget div p img
{
   position: relative;
   top: 2px;
   padding-right: 5px;
}