body
{
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: hidden;    
    font-family: Oswald;
    font-variant: normal;
}


div#header
{
    position: absolute;
    top: 0px;
    height: 105px; 
    width: 100%;
}

div.header-chunk 
{
    position: absolute;
    top: 0px;
    height: 100%;
}

div.header-chunk img
{
    position: absolute;
    top: 24px;
    left: 10px;
}

div#spotify-image img 
{
    top:0px;
    left:0px;
}

div#header span
{
    color: #6f6f6d;
    white-space: nowrap;


	font-size: 26px;
	font-style: italic;
	font-weight: 400;
	line-height: 26.4px;

    position: absolute;
    left: 10px;
    bottom: 20px;

    /*Oswald Regular 28pt*/
}

div#spotify-image
{
    left:0px;
    width: 105px;
    overflow: hidden;
}

div#spotify-image img 
{
    max-width: 105px;
    max-height: 105px;
}

div#spotify-track
{
    left: 106px;
    width: 616px;
    overflow: hidden;
}

div#twitch-follower-last
{
    left: 723px;
    width: 458px;
    overflow: hidden;
}

div#jarvis-working-on
{
    left: 1180px;
    width: 565px;
}


span#jarvis-working-on-data img
{
    position: relative;
    top: -2px;
    left: -2px;
}

div#sidebar 
{
    position: absolute;
    width: 62px;
    right: -6px;
    top: 105px;
    height: 100%; 
}
div#sidebar img
{
    max-width: 50px;
}
div#sidebar span {

    color: #6f6f6d;
    white-space: nowrap;

    
    font-size: 18px;
    font-style: normal;
    
    font-weight: 200;
    line-height: 18.4px
}

div.sidebar-chunk
{
    position: absolute;
    width: 100%; 
}

div.sidebar-chunk img
{
    position: absolute;
}
div.sidebar-chunk span 
{
    position: absolute;
    width: 100%;
    text-align: center;
}

div#crashes { bottom: 371px; }
div#crashes img { left: 7px; }
div#crashes span { top: 35px; }

div#builds { bottom: 298px; }
div#builds img { left: 8px; }
div#builds span { top: 15px; left: -1px; }

div#coffee { bottom: 243px; }
div#coffee img { left: 8px; }
div#coffee span { top: 8px; left: -1px; }

div#saves { bottom: 204px; }
div#saves img { left: 9px; }
div#saves span{ top: 17px; }

div#viewers { bottom: 155px; }
div#viewers img { left: 6px; }
div#viewers span { top: 10px; }

div#branding
{
    position: absolute;    
    bottom: 35px;
    right: 100px;
}

div#branding img
{
    opacity: .5
}

div#streamlabs
{
    height: 1080px;
    width: 1920;
}

iframe#streamlabs-eventlist
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 300px;
    width: 400px;
    background: transparent;
    border: none;
}

iframe#streamlabs-alertbox
{
    position: absolute;
    top: 105px;
    right: 62px;
    height: 500px;
    width: 850px;
    background: transparent;
    border: none;
}

iframe#discord-talkers
{
    position: absolute;
    top: 72px;
    right: 0px;
    height: 500px;
    width: 62px;
    background: transparent;
    border: none;
}

div#jira-task-widget
{
    border-radius: 25px;
    background-color: rgba(0,0,0,0.25);
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    font-family: Oswald;
    position: absolute;
    left: 200px;
    top: 200px;
}

div#widget-title
{
    font-size: 45px;
}

div#jira-task-widget div p img
{
   position: relative;
   top: 2px;
   padding-right: 5px;
}