body
{
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: hidden;    
    font-family: Oswald;
    font-variant: normal;
}


div#header
{
    position: absolute;
    top: 0px;
    height: 105px; 
    width: 100%;
    background-image: url("../img/header-background.png");
    background-repeat: repeat-x;
}

div.header-chunk 
{
    position: absolute;
    top: 0px;
    height: 100%;
}

div.header-chunk img
{
    position: absolute;
    top: 24px;
    left: 10px;
}

div#spotify-image img 
{
    top:0px;
    left:0px;
}

div#header span
{
    color: #6f6f6d;
    white-space: nowrap;


	font-size: 26px;
	font-style: italic;
	font-weight: 400;
	line-height: 26.4px;

    position: absolute;
    left: 10px;
    bottom: 20px;

    /*Oswald Regular 28pt*/
}

div#spotify-image
{
    left:0px;
    width: 105px;
    overflow: hidden;
}

div#spotify-image img 
{
    max-width: 105px;
    max-height: 105px;
}

div#spotify-track
{
    left: 106px;
    width: 616px;
    overflow: hidden;
}

div#twitch-follower-last
{
    left: 723px;
    width: 458px;
    overflow: hidden;
}

div#jarvis-working-on
{
    left: 1180px;
    width: 565px;
}


div#sidebar 
{
    position: absolute;
    width: 62px;
    right: 0px;
    top: 105px;
    height: 100%; 
    background-image: url("../img/sidebar-background.png");
    background-repeat: repeat-y;
}

div#sidebar span {

    color: #6f6f6d;
    white-space: nowrap;

    
    font-size: 18px;
    font-style: normal;
    
    font-weight: 200;
    line-height: 18.4px
}

div.sidebar-chunk
{
    position: absolute;
    width: 100%; 
}

div.sidebar-chunk img
{
    position: absolute;
}
div.sidebar-chunk span 
{
    position: absolute;
    width: 100%;
    text-align: center;
}

div#crashes { bottom: 323px; }
div#crashes img { left: 7px; }
div#crashes span { top: 41px; }

div#coffee { bottom: 243px; }
div#coffee img { left: 11px; }
div#coffee span { top: 6px; }

div#saves { bottom: 204px; }
div#saves img { left: 12px; }
div#saves span{ top: 13px; }

div#viewers { bottom: 155px; }
div#viewers img { left: 9px; }
div#viewers span { top: 8px; }

div#branding
{
    position: absolute;    
    bottom: 50px;
    right: 115px;
}