<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15G1421</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>jarvis</string>
	<key>CFBundleIconFile</key>
	<string>jarvis.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.dotBunny.JARVIS</string>
	<key>CFBundleName</key>
	<string>jarvis</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.0</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2017 dotBunny Inc. All rights reserved.</string>
	<key>LSUIElement</key>
	<string>1</string>
</dict>
</plist>
